<div class="header">
  <div class="logo"><b>WebScanner</b></div>
  <div class="title"><b>Welcome to WebScanner!</b></div>
  <img class="image" src="/l1.png" />
  <div class="logout" (click)="logOut()">LogOut</div>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="text">
    If you have any questions or problems, contact us: webscanner@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you want to develop WebScanner with us, send your CV: webscannerteam@gmail.com <br />
    Created and developed by Oskar Przybylski, Piotr Domagała, Oliwia Zarychta and Kinga Sochacka
  </div>
  </div>

