<div class="row" style="padding-top: 10%;">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="button" (click)="goBack()">
      Back to orders list
    </div>
  </div>
  <div class="col-4"></div>
  <div class="col-3">
    <div class="button" (click)="goToDelete()">
      Delete order
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-12 title-div">
    Order {{serverOrder.id}}
  </div>
</div>
<div class="row">
  <div class="col-6 details-div left">
    <p>Frequency:</p>
  </div>
  <div class="col-6 details-div right">
    <p>{{serverOrder.frequency}}</p>
  </div>
</div>
<div class="row">
  <div class="col-6 details-div left">
    <p>Target:</p>
  </div>
  <div class="col-6 details-div right">
    <p>{{serverOrder.targetAddress}}</p>
  </div>
</div>
<div class="row">
  <div class="col-6 details-div left">
    <p>Question:</p>
  </div>
  <div class="col-6 details-div right">
    <p>{{serverOrder.question}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12 title-div">
    Statistics [based on {{data.length}} responses]
  </div>
</div>
<div class="row">
  <div class="col-6 details-div left">
    <p>Average latency:</p>
  </div>
  <div class="col-6 details-div right">
    <p>{{averageString}}</p>
  </div>
</div>
<div class="row">
  <div class="col-6 details-div left">
    <p>Worst latency:</p>
  </div>
  <div class="col-6 details-div right">
    <p id="worst">{{worstLatency}}</p>
  </div>
</div>
<div class="row">
  <div class="col-6 details-div left">
    <p>Best latency:</p>
  </div>
  <div class="col-6 details-div right">
    <p>{{bestLatency}}</p>
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10" *ngIf="chart" id="chartcontainer">
    <canvas id="canvas" >{{ chart }}</canvas>
  </div>
  <div class="col-1"></div>
</div>



<div class="row">
  <div class="col-1"></div>
  <div class="col-10" *ngIf="chartinaccessible" id="chartcontainerin">
    <canvas id="canvasin">{{ chartinaccessible }}</canvas>
  </div>
  <div class="col-1"></div>
</div>



<div class="row">
  <div class="col-1"></div>
  <div class="col-2">
    <div class="button" (click)='showAllDates()'>
      Show all dates
    </div>
  </div>
  <div class="col-2">
    <div class="button " (click) ='getLasts(1000)'>
      Last 1000 responses
    </div>
  </div>
  <div class="col-2">
    <div class="button " (click) ='getLasts(500)'>
      Last 500 responses
    </div>
  </div>
  <div class="col-2">
    <div class="button " (click) ='getLasts(100)'>
      Last 100 responses
    </div>
  </div>
  <div class="col-2">
    <div class="button " (click) ='getLasts(10)'>
      Last 10 responses
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-2 details-div">
    <label>
      First date :
    </label>
  </div>
  <div class="col-3 details-div">
    <input type="text" #firstDate>
  </div>
  <div class="col-2 details-div">
    <label>
      Last date :
    </label>
  </div>
  <div class="col-3 details-div">
    <input type="text" #secondDate>
  </div>
  <div class="col-1"></div>
</div>
<div class="row" style="padding-bottom: 10%;">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="button" (click)='addNewDates(firstDate.value,secondDate.value)'>
      Show entered time period
    </div>
  </div>
  <div class="col-1"></div>
</div>

