.header {
  position: fixed;
  background-color: #000080;
  width: 100%;
  height: 17%;
  z-index: 1;
}

.image {
  position: fixed;
  z-index: 2;
  top: 2%;
  left: 1%;
  height: 13%;
  width: 7%;
}

.logo {
  position: fixed;
  left: 8.5%;
  top: 4.5%;
  color: white;
  font-size: 3vw;
  font-family: Bahnschrift SemiBold Condensed;
  z-index: 3;
}

.title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 3vw;
  font-family: Times New Roman;
  z-index: 2;
  top: 25%;
}

.text2 {
  position: fixed;
  color: #12204F;
  left: 20%;
  right: 20%;
  top: 25%;
  z-index: 3;
  font-size: 1.5vw;
  text-align: justify;
  text-indent: 3%;
}

.text3 {
  text-align: center;
}

.button {
  position: fixed;
  left: 45%;
  top: 61%;
  background-color: white;
  width: 10%;
  height: 5%;
  font-size: 20px;
  color: #12204F;
  text-align:center;
  border: 2px solid #3C729D;
  border-radius: 4px;
 
}

.button2 {
  position: fixed;
  left: 45%;
  top: 70%;
  background-color: white;
  width: 10%;
  height: 5%;
  font-size: 20px;
  color: #12204F;
  text-align: center;
  border: 2px solid #3C729D;
  border-radius: 4px;
}

.button:hover {
  background-color: #3C729D;
  color: white;
  cursor: pointer;

}

.button2:hover {
  background-color: #3C729D;
  color: white;
  cursor: pointer;
}
  .footer {
  position: fixed;
  background-color: #3C729D;
  width: 100%;
  height: 8%;
  top: 92%;
  z-index: 1;
}

.text {
  position: fixed;
  color: white;
  top: 93%;
  left: 16%;
  z-index: 2;
  font-size: 1vw;
  font-family: Times New Roman;
  text-align: center;
}

