<div class="text2">
  <p>
    <b>
      Application is aimed at people who want to manage their network resources by sending specific requests to endpoints. Application also can be used by developers.
    </b><br />
  </p>
  <p>
    <b>
      We try to build app in DDD aproach so it will be easy to maintain and expand. All people who want to work with us or personalize WebScanner are welcome to do so!
    </b>
  </p>
  <div class="text3"><b>Feel free to contact us!</b></div>
</div>
<div class="button" (click)="goToHome()">
  Go on!
</div>

